<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Movie Finder</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">

        </ul>

        <ul id="nav-mobile" class="side-nav">
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>

        <div class="row center">
            <div class="header col s12 light">

                <img src="<%= Poster %>" height="300" >
            </div>
        </div>
        <div class="row center">
            <div class="header col s12 light">

            <table>
                <tr>
                    <td>Title</td>
                    <td><%= Title %></td>

                </tr>
                <tr>
                    <td>Released date</td>
                    <td><%= Releasedata %></td>

                </tr>
                <tr>
                    <td>Runtime</td>
                    <td><%= Runtime %></td>

                </tr>
                <tr>
                    <td>Category</td>
                    <td><%= Category %></td>

                </tr>
                <tr>
                    <td>Plot</td>
                    <td><%= story %></td>

                </tr>
                <tr>
                    <td>Actors</td>
                    <td><%= StarCast %></td>

                </tr>
                <tr>
                    <td>Director</td>
                    <td><%= Director %></td>

                </tr>
                <tr>
                    <td>Writer</td>
                    <td><%= Writer %></td>

                </tr>
                <tr>
                    <td>Production</td>
                    <td><%= Production %></td>

                </tr>
                <tr>
                    <td>IMDB Rating</td>
                    <td><%= imdb %></td>

                </tr>
                <tr>
                    <td>Awards</td>
                    <td><%= Awards %></td>

                </tr>
                <tr>
                    <td>Country</td>
                    <td><%= country %></td>

                </tr>
                <tr>
                    <td>Lanquage</td>
                    <td>Langauge</td>

                </tr>
            </table>
</div>

        </div>


        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">



    </div>
    <br><br>

    <div class="section">

    </div>
</div>

<footer class="page-footer light-blue darken-3">
    <div class="footer-copyright">
        <div class="container">
            made by Harsh Bhardwaj
            <a class="grey-text text-lighten-4 right" href="#!">Say me Hi ! on 91-8107279585</a>
        </div>
    </div>
</footer>



<!--  Scripts-->
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
